.exDee-wrapper {
	width: 100vw;
	height: 100vh;
	perspective: 500px;
	perspective-origin: 50% 50%;
	-webkit-perspective-origin: 50% 50%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.bob {
	left: 50px;
	top: 50px;
	position: absolute;
	transform-style: preserve-3d;
	transform-origin: top left;
	transform: rotateX(0deg) rotateY(90deg);
}
