.graph {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background: black;
}
.bar {
    margin-left: 10px;
    width: 20px;
    transition: height .5s;
    transition-timing-function: ease-in-out;
}
